:root {
  --navi-black: #141414;
  --black: #000;
  --hover: #94cfff;
  --white: #fff;
  --av-blue: #26c7ea;
  --back-color: #0b0e66;
}
body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
}
ul,
h2,
p,
h3,
h4,
h1,
button,
blockquote {
  padding: 0;
  margin: 0;
}
img,
button,
cite {
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  padding: 0 15px;
  width: 1062px;
  margin: 0 auto;
}
.header {
  padding-top: 39px;
  padding-bottom: 39px;
  border-bottom: 1px solid #fff;
  background-image: linear-gradient(
      to right,
      rgba(43, 74, 97, 0.87),
      rgba(43, 74, 97, 0.87)
    ),
    url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.nav-list {
  display: flex;
  justify-content: flex-start;
  gap: 38px;
  color: #fff;
}
.nav-list-link {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--white);
}
.nav-list-link:hover {
  color: var(--av-blue);
}
.container-switch {
  display: flex;
  position: absolute;
  top: 40%;
  right: -100px;
}
.switcher-lang {
  text-align: center;
  font-size: 16px;
  color: var(--white);

  
}
.switcher{
  padding-left: 10px;
  padding-right: 10px;
}
.switcher-lang:hover {
  color: var(--av-blue);
}
.header-btn {
  color: var(--av-blue);
  text-align: center;
  font-family: "HeadlandOne" serif;
  font-size: 20px;
  font-weight: 400;
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  padding: 9px 38px;

  background-color: var(--back-color);
}

.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  padding: 180px 170px;

  background-image: url("../images/background1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-text {
  color: var(--white);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
}
.hero-btn-join {
  margin-top: 42px;
  width: 260px;
  height: 80px;
  color: var(--av-blue);
  text-align: center;
  font-family: "HeadlandOne" serif;
  font-size: 24px;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background: #0b0e66;
}
.hero-arrow {
  content: "";
  background-image: url("../images/arrow.png");
  width: 152px;
  height: 40px;
  background-repeat: no-repeat;
}

.social_networks-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}
.quotes {
  padding-top: 75px;
  padding-bottom: 10px;
}
.quotes-text {
  color: var(--black);
  text-align: center;
  font-family: "Inter" sans-serif;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 16px;
}
.quotes-autor {
  display: block;
  font-style: normal;
  text-align: center;
  color: var(--black);
  font-family: "Inter" sans-serif;
  font-size: 24px;
  margin: 16px 0 8px;
} 
.quotes-autor::after {
  display: block;
  width: 400px;
  height: 120px;
  content: "";
  background-image: url("../images/img103.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.trailer {
  display: flex;
  justify-content: center;
  padding: 330px 0;
  background-image: url("../images/Rectangle10.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn-trailer {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 19px;
  padding-right: 19px;
  border-radius: 45px 0px;
  border: 3px solid #26c7ea;
  background-color: var(--back-color);
  color: var(--av-blue);
  text-align: justify;
  font-family: "HeadlandOne" sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.learn_lang {
  padding: 58px 91px;
  background-image: url("../images/background3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.learn_lang-title {
  display: flex;
  justify-content: center;
  color: var(--navi-black);
  text-align: justify;
  font-family: "Headland One" , sans-serif;
  font-size: 32px;
  margin-bottom: 49px;
  font-weight: 400;
}
.learn_lang-list-text {
  color: var(--navi-black);
  text-align: center;
  font-family: "Headland One", sans-serif;
  font-size: 24px;
  
}
.learn_lang-list-text_eng {
  color: var(--black);
  text-align: center;
  font-family: HeadlandOne;
  line-height: 1px;
}
.learn_lang-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
}
.learn_lang-list-item {
  flex-basis: calc((100% - 60px) / 3);
  padding: 36px 0;
  background: rgba(255, 255, 255, 0.7);
}
.learn_lang-list-item .learn_lang-list-text::after {
  content: "";
  display: block;
  width: 152px;
  height: 40px;
  margin: 40px auto;
}
.learn_lang-list-item:nth-child(3n + 1) .learn_lang-list-text::after {
  background-image: url("../images/item3.png");
  background-position: center;
}
.learn_lang-list-item:nth-child(3n + 2) .learn_lang-list-text::after {
  background-image: url("../images/img99.png");
}
.learn_lang-list-item:nth-child(3n + 3) .learn_lang-list-text::after {
  background-image: url(../images/item4.png);
}


.footer {
  background-image:linear-gradient(
    to right,
    rgba(43, 74, 97, 0.87),
    rgba(43, 74, 97, 0.87)
  ),url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 0 25px;
  
}
.footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mail-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left: 3px solid #fff;
  padding-left: 75px;
  padding-top: 44px;
  
  
}
.mail-list-item{
  display: flex;
  gap: 20px;
  
}
.mail-list-link {
  color: var(--white);
  font-family: "Inter" , sans-serif;
  font-size: 20px;
    margin-bottom: 37px;
  font-weight: 400;
  margin-right: 20px;
}


.mail-list-item:nth-child(1) .mail-list-text::after  {
  content: "";
  display: inline-block;
  width: 269px;
    height: 1px;
    margin-left: 12px;
background-image: url("../images/vector9.png");
}
.mail-list-text {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  color: var(--white);
 
  
}

.mail-list-item:nth-child(2) .mail-list-text::after {
  content: "";
    display: inline-block;
    height: 2px;
    width: 210px;
    margin-left: 12px;
  background-image: url("../images/vector8.png");
}

.footer-copyright {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--white);
  
}
