:root{
--navi-black: #141414;
--black:#000;
--hover:#94CFFF;
--white: #fff;
--av-blue: #26C7EA;
--back-color:#0B0E66;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}
ul, h2, p, h3,h4,h1, button, blockquote {
    padding: 0;
    margin: 0;
}
img, button, cite {
display: block;

}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container{
    padding: 0 15px;
    width: 1062px;
    margin: 0 auto;
}
.header{
    padding-top: 39px;
    padding-bottom: 39px;
    border-bottom: 5px solid #fff;
    background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)
    ),  url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    justify-content: flex-start;
    gap: 38px;
     color: #fff;
}
.nav-list-link{
font-weight: 400;
font-size: 20px;
text-align: center;
color: var(--white);


}
.nav-list-link:hover{
    color: var(--av-blue);
}
.container-switch{
    display: flex;
    
}
.container-switch{
    display: flex;
    justify-content: flex-end;
    
}
.switcher-lang{
    text-align: center;
   font-size: 16px;
    color: var(--white);
    

    
}

.switcher-lang:hover{
color: var(--av-blue);
}
.header-btn{
    color: var(--av-blue);
text-align: center;
font-family: "HeadlandOne" serif;
font-size: 20px;
font-weight: 400;
border-radius: 45px 0px;
border: 3px solid #26C7EA;
padding: 15px 33px;

background-color: var(--back-color);
}



.hero .container{
    display: flex;
    justify-content: space-between;
    
}
.hero{
    padding: 180px 170px;
   
    background-image: url("../images/background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-text{
    
    color: var(--white);
font-family: Inter;
font-size: 20px;
font-weight: 400;
 margin-top: 40px;
 margin-bottom: 42px;

}
.hero-btn-join{
    color: var(--av-blue);
text-align: center;
font-family: "HeadlandOne" serif;
font-size: 24px;
font-weight: 400;
border-radius: 45px 0px;
border: 3px solid #26C7EA;
padding: 17px 9px;
background: #0B0E66;

}
.hero-arrow{
         content: "";
    background-image: url("../images/arrow.png");

background-repeat: no-repeat;

}

.social_networks-list{
    gap: 27px;
}
.quotes{
    padding-top: 75px;
    padding-bottom: 10px;
    padding-left: 277px;
    padding-right: 277px;
}
.quotes-text{
     
    color: var(--black);
text-align: center;
font-family: "Inter" sans-serif;
font-size: 36px;
font-weight: 400;
margin-bottom: 16px;
padding-bottom: 145px;
}
.quotes-autor{
    display: block;
    text-align: center;
    color: var(--black);
    font-family: "Inter" sans-serif;
}
.quotes .quotes-autor::after{
         
         content: "";
         background-image: url("../images/img99.png");
}

    

.trailer{
    display: flex;
    justify-content: center;
    padding: 330px 0;
    background-image: url("../images/Rectangle10.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.btn-trailer{
   padding-top: 31px;
   padding-bottom: 29px;
    border-radius: 45px 0px;
border: 3px solid #26C7EA;
background-color: var(--back-color);
    color: var(--av-blue);
text-align: justify;
font-family: "HeadlandOne" sans-serif;
font-size: 24px;
font-weight: 400;
}
.learn_lang{
    padding: 58px 0;
    background-image: url("../images/background3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.learn_lang-title{
    display: flex;
    justify-content:center ;
    color: var(--navi-black);
text-align: justify;
font-family: "HeadlandOne" sans-serif;
font-size: 32px;
margin-bottom: 38px;
font-weight: 400;

}
.learn_lang-list-text{
    color: var(--navi-black);
text-align: center;
font-family: HeadlandOne;
line-height: 100px; 
}
.learn_lang-list-text_eng{
    color: var(--black);
text-align: center;
font-family: HeadlandOne;
line-height: 1px; 

}
.learn_lang-list{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          gap: 28px;
          


}
.learn_lang-list-item{
    flex-basis: calc((100% - 60px) / 3);
    padding: 36px 0;
    background: rgba(255, 255, 255, 0.7);
    
    
}
.learn_lang-list-item  .learn_lang-list-text::after{
    content: "";
    display: block;
    width: 152px;
    height: 40px;
    margin: 40px auto;
   
}
.learn_lang-list-item:nth-child(3n+1) .learn_lang-list-text::after{
    
    background-image: url("../images/item3.png");
    background-position: center;
} 
.learn_lang-list-item:nth-child(3n+2) .learn_lang-list-text::after{
    background-image: url("../images/img99.png");
}
.learn_lang-list-item:nth-child(3n+3) .learn_lang-list-text::after{
background-image: url(../images/item4.png);
}

.footer-left::after{
    background-image: url(../images/line37.svg);
}
.footer{
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    padding: 78px 26px;
}
.mail-list{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.mail-list-link{
    color: var(--white);
font-family: Inter;
font-size: 20px;

font-weight: 400;
}
.mail-list-link::after{
    background-image: url(../images/vector8.png);
}